<div
  class="game-log-dialog"
  role="dialog"
  aria-modal="true"
  [attr.aria-label]="'gameLog.dialogAria' | translate"
>
  <header class="game-log-dialog__header">
    <h2 class="t-heading game-log-dialog__title">{{ 'gameLog.title' | translate }}</h2>
    <app-icon-button
      [icon]="closeIcon"
      [ariaLabel]="'gameLog.closeAria' | translate"
      [size]="32"
      (iconClick)="close()"
    />
  </header>

  <div class="game-log-dialog__body">
    <app-game-log-list
      [entries]="data.entries"
      [myRole]="data.myRole"
      [opponentName]="data.opponentName"
    />
  </div>
</div>
